ipython-autotime
opencv-python
numpy
pandas
matplotlib
tensorflow
tensorflow-datasets
tensorflow-object-detection-api
tensorflow-io
scikit-learn
jupyterlab
notebook
opencv-python
mtcnn
lxml 
pillow
jupyter
contextlib2
cython
tf_slim
pycocotools